*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.log

hs_err_pid*

/activator*
/.sbtserver
.sbtserver
.sbtserver.lock

/logs/
/target/
/project/target/
/project/project/
.cache
.cache-*
.history
.lib/
dist/*
.worksheet

/bin/
/.idea

.DS_Store
.vscode
